{% extends "SUserBundle::layout.html.twig" %}
{% block head %}
    {% if is_granted("ROLE_USER") %}
        <title>Hdith ElSouk - Publications</title>
    {% else %}
        <meta http-equiv="refresh" content="5;url={{ path('fos_user_security_login') }}"/>
        <title>Visiteur - Non Connecté</title>
    {% endif %}
{% endblock %}
{% block stylesheets %}
    <style type="text/css">
        .fishes {
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 1;
        }

        .fish {
            position: absolute;
            top: -5px;
            left: -30px;
            z-index: 2;
        }

        .cccontainer {
            height: 80%;
            width: 96%;
            max-width: 350px;
            max-height: 100px;
            margin: auto; /* to center the container */
        }

        .iiimg {
            width: 100%;
            height: 100%;
        }
    </style>
{% endblock %}
{% block body %}
    {% if is_granted("ROLE_USER") %}
        <br><br>
        <section id="content">

            <div class="container clearfix">
                <div class="row clearfix">
                    <div class="col-sm-9">
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <div class="col-xs-12 bottommargin-sm">
                                    {{ form_start(form) }}
                                    {{ form_end(form) }}
                                </div>

                                <div class="tab-content clearfix" id="tab-posts">
                                    <div class="row topmargin-sm clearfix">
                                        {% for n in 0..(posts|length - 1) %}
                                            <br>
                                            <div class="col-xs-12 bottommargin-sm">
                                                <div class="ipost clearfix">
                                                    <div class="row clearfix">
                                                        <div class="col-sm-offset-0">
                                                            <a href="{{ path('social_check_profile',{'id':profiles[n].idUser.id}) }}">
                                                                {% if profiles[n].image %}
                                                                    <img
                                                                            class="alignright img-circle img-thumbnail
                                                                                    notopmargin nobottommargin fish"
                                                                            src="{{ asset('uploads/images/' ~ profiles[n].image) }}"
                                                                            alt="Image du profile"
                                                                            style="max-width: 74px;">
                                                                {% else %}
                                                                    <img
                                                                            class="alignright img-circle img-thumbnail
                                                                                    notopmargin nobottommargin fish"
                                                                            src="{{ asset('Template/images/icons/avatar.jpg') }}"
                                                                            alt="Avatar"
                                                                            style="max-width: 74px;">
                                                                {% endif %}
                                                            </a>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="entry-image cccontainer">
                                                                <a href="{{ asset('uploads/images/' ~ posts[n].image) }}"
                                                                   data-lightbox="image"><img
                                                                            class="image_fade fishes iiimg"
                                                                            src="{{ asset('uploads/images/' ~ posts[n].image) }}"
                                                                            alt="Image de la publication"></a>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <div class="entry-title">
                                                                <h3>
                                                                    <a href="#comments">{{ posts[n].titre }}</a>
                                                                </h3>
                                                            </div>
                                                            <ul class="entry-meta clearfix">
                                                                <li>
                                                                    <i class="icon-calendar3"></i> {{ posts[n].date|date }}
                                                                </li>
                                                                <li><a href="#comments"><i
                                                                                class="icon-comments"></i>
                                                                        13</a></li>
                                                                {% if posts[n].idUser.id == app.user.id %}
                                                                    <li>
                                                                        <a href="{{ path('social_modifier_post_fromWelcome',{'id':posts[n].id}) }}">Modifier</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="{{ path('social_delete_post_fromWelcome',{'id':posts[n].id}) }}"
                                                                           onclick="return confirm('Voulez-vous vraiment' +
                                                                                        'supprimer cette publication ?')">Supprimer</a>
                                                                    </li>
                                                                {% endif %}
                                                            </ul>
                                                            <div class="entry-content">
                                                                <p>{{ posts[n].texte }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                        {% endfor %}
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="line visible-xs-block"></div>

            </div>

            </div>
            <div><br><br><br></div>

        </section>
    {% else %}
        <br>
        Vous devez vous connecter avant d'accéder à l'accueil du hdith essouk.
        <br>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script>
        jQuery("#tabs-profile").on("tabsactivate", function (event, ui) {
            jQuery('.flexslider .slide').resize();
        });
    </script>
{% endblock %}