{% extends "SUserBundle::layout.html.twig" %}
{% block head %}
    {% if is_granted("ROLE_USER") %}
        <title>Hdith ElSouk - Publications</title>
    {% else %}
        <meta http-equiv="refresh" content="5;url={{ path('fos_user_security_login') }}"/>
        <title>Visiteur - Non Connecté</title>
    {% endif %}
{% endblock %}
{% block stylesheets %}
    <style type="text/css">
        .fishes {
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 1;
        }

        .fish {
            position: absolute;
            top: -5px;
            left: -30px;
            z-index: 2;
        }

        .cccontainer {
            height: 80%;
            width: 96%;
            max-width: 350px;
            max-height: 100px;
            margin: auto; /* to center the container */
        }

        .iiimg {
            width: 100%;
            height: 100%;
        }
    </style>
{% endblock %}
{% block body %}
    {% if is_granted("ROLE_USER") %}
        <br><br>
        <section id="content">

            <div class="container clearfix">
                <div class="row clearfix">
                    <div class="col-sm-9">
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <div class="col-xs-12 bottommargin-sm">
                                    {{ form_start(form) }}
                                    {{ form_end(form) }}
                                </div>

                                <div class="tab-content clearfix" id="tab-posts">
                                    <div class="row topmargin-sm clearfix" id="zidni">
                                        {{ render(controller('SocialBundle:Default:posts',{'deb': 0,'fin': 3})) }}
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="line visible-xs-block"></div>

            </div>

            </div>
            <div><br><br><br></div>

        </section>
    {% else %}
        <br>
        Vous devez vous connecter avant d'accéder à l'accueil du hdith essouk.
        <br>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script>
        deb = 0;
        fin = 1;
        var pathToRedirect = '{{ path('social_postsAX_home', {'deb': 'ABC','fin':'DEF'} ) }}';
        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() >= $(document).height()-700) {
                if (fin + 1 <= {{ (posts|length - 1) }}) {
                    deb = fin + 1;
                    fin = deb;
                }
                    if (fin + 1 <= {{ (posts|length - 1) }}) {
                    fin = fin + 1;
                }
                else {
                    return 0;
                }
                var finalPath = pathToRedirect.replace("ABC", deb).replace("DEF", fin);
                getmoredata(finalPath);
            }
        });

        function getmoredata(finalPath) {
            $.ajax({
                type: 'POST',
                url: finalPath,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (response) {
                    $("#zidni").append(response);
                    console.log(response);
                }
            });
        }
    </script>
    <script>
        jQuery("#tabs-profile").on("tabsactivate", function (event, ui) {
            jQuery('.flexslider .slide').resize();
        });
    </script>
{% endblock %}