{% for follower in followers %}
    <div class="topmargin-sm">
        <div class="col-md-3 col-sm-6 bottommargin">
            <div class="team">
                <div class="team-image cccontainer">
                    <a href="{{ path('social_check_profile',{'id':follower.idProfileFollower.idUser.id}) }}">

                        {% if follower.idProfileFollower.image %}
                            <img class="img-circle iiimg"
                                 src="{{ asset('uploads/images/'~follower.idProfileFollower.image) }}"
                                 alt="{{ follower.idProfileFollower.idUser.firstname ~ ' ' ~ follower.idProfileFollower.idUser.lastname }}">
                        {% else %}
                            <img src="{{ asset('Template/images/icons/avatar.jpg') }}"
                                 class="img-circle iiimg"
                                 alt="{{ follower.idProfileFollower.idUser.firstname ~ ' ' ~ follower.idProfileFollower.idUser.lastname }}" >
                        {% endif %}
                    </a>
                </div>
                <div class="team-desc">
                    <div class="team-title">
                        <a href="{{ path('social_check_profile',{'id':follower.idProfileFollower.idUser.id}) }}">
                            <h4>{{ follower.idProfileFollower.idUser.firstname ~ ' ' ~ follower.idProfileFollower.idUser.lastname }}</h4>
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endfor %}