{% extends "SUserBundle::layout.html.twig" %}
{% block head %}
    <title>Recherche des Artisans</title>
{% endblock %}
{% block body %}
    <div class="content-wrap">

        <div class="container clearfix">

            <div class="tabs divcenter nobottommargin clearfix" id="tab-login-register" style="max-width: 500px;">
                <div class="tab-container">
                    <div class="tab-content clearfix" id="tab-register">
                        <h3 style="text-align: center">Résultats de la Recherche</h3>
                        <div class="panel-body" style="padding: 40px;">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <colgroup>
                                        <col class="col-xs-1">
                                        <col class="col-xs-7">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>Photo</th>
                                        <th>Artisan</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for profile in profiles %}
                                        {% if profile.idUser.id != app.user.id %}
                                            <tr>
                                                <td>
                                                    <a href="{{ path('social_check_profile',{'id':profile.idUser.id}) }}">
                                                        {% if profile.image %}
                                                            <img
                                                                    class="alignright img-circle img-thumbnail
                                                                                    notopmargin nobottommargin fish"
                                                                    src="{{ asset('uploads/images/' ~ profile.image) }}"
                                                                    alt="Image du profile"
                                                                    style="max-width: 74px;">
                                                        {% else %}
                                                            <img
                                                                    class="alignright img-circle img-thumbnail
                                                                                    notopmargin nobottommargin fish"
                                                                    src="{{ asset('Template/images/icons/avatar.jpg') }}"
                                                                    alt="Avatar"
                                                                    style="max-width: 74px;">
                                                        {% endif %}
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="{{ path('social_check_profile',{'id':profile.idUser.id}) }}"><strong>{{ profile.idUser.firstname ~' '~ profile.idUser.lastname }}</strong></a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}