{% extends "EvenementBundle:Default:index.html.twig" %}
{% block title %}Welcome!{% endblock %}
{% block stylesheets %}{% endblock %}


{% block body %}

    <section id="page-title">

        <div class="container clearfix">
            <h1>Evenements à venir </h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('fos_visitor_home') }}">Home</a></li>

            </ol>
        </div>

    </section>
    <section id="content">

    <div class="content-wrap">



    <div id="events" class="single-event header-stick footer-stick clearfix">


    {% for event in ev | sort  %}

        <div class="event entry-image parallax nobottommargin" style="background-image: url({{ asset('Template/images/parallax/parallax-bg.jpg')}}); height:600px" data-stellar-background-ratio="0.3">
            <div class="entry-overlay-meta">

                <h2><a  >{{ event.nomEvenement }}</a></h2>
                <ul class="iconlist">
                    <li><i class="icon-euro"></i> <strong>{{ event.type }}</strong></li>
                    <li><i class="icon-calendar3"></i> <strong>Date:</strong>{{ event.dateDebut | date("m/d/Y") }}</li>
                    <li><i class="icon-time"></i> <strong>Timing:</strong>{{ event.heure| date("h:m") }}</li>
                    <li><i class="icon-map-marker2"></i> <strong>Adresse:</strong>{{ event.adresse }}</li>
                    <li><i class="icon-euro"></i> <strong>prix</strong>{{ event.prix }}</li>
                    <li><i class="icon-male"></i> <strong>nombre de place</strong>{{ event.nbPlace }}</li>


                </ul>

            </div>


            <div class="entry-overlay">
                <div id="event-countdown5" class="countdown"></div>
            </div>
        </div>

        </div>

        </div>

        </section>



        <div id="gotoTop" class="icon-angle-up"></div>




    {% endfor %}
    {# display navigation #}
    <div class="navigation text-right">
        {{ knp_pagination_render(ev) }}
    </div>


{% endblock %}

{% block javascripts %}


    <!-- External JavaScripts
          ============================================= -->
    <script type="text/javascript" src="{{ asset('Template/js/jquery.js')}}"></script>
    <script type="text/javascript" src="{{ asset('Template/js/plugins.js')}}"></script>

    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="{{ asset('Template/js/functions.js')}}"></script>

    <script>
        jQuery(document).ready( function($){

            var eventStartDate1 = new Date(2016, 6, 15);
            $('#event-countdown1').countdown({until: eventStartDate1});

            var eventStartDate2 = new Date(2015, 12, 23);
            $('#event-countdown2').countdown({until: eventStartDate2});

            var eventStartDate3 = new Date(2016, 1, 31);
            $('#event-countdown3').countdown({until: eventStartDate3});

            var eventStartDate4 = new Date(2015, 7, 24);
            $('#event-countdown4').countdown({until: eventStartDate4});

            var eventStartDate5 = new Date(2017, 1, 5);
            $('#event-countdown5').countdown({until: eventStartDate5});

        });

    </script>
{% endblock %}



