{% extends "SUserBundle::layout.html.twig" %}
{% block head %}{% endblock %}
{% block stylesheets %}{% endblock %}


{% block body %}
<body class="stretched">

<section id="page-title">

    <div class="container clearfix"
         style='background-position: 50% 34.8px; height: 300px; background-image: url("({{ asset('Template/images/events/10.jpg') }})");'
         data-stellar-background-ratio="0.3">
        <div class="entry-overlay-meta">>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Atelier</li>
            </ol>
            <h1>Bienvenu(e) à la liste des Workshops</h1>
            <span> Workshops à venir</span>
            <span> hey! Vous pouvez <a href="{{ path('fos_user_security_login') }}">ajouter votre workshop</span>

        </div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">
        <div class="container clearfix">
        {% for work in w | sort %}


            <div class="postcontent nobottommargin col_last">

                <div id="posts" class="events small-thumbs">

                    <div class="entry clearfix">
                        <div class="entry-image">
                            <a href="#">
                                <img src="{{ asset('Template/images/events/thumbs/1.jpg') }}">
                                <div class="entry-date">10<span>Apr</span></div>
                            </a>
                        </div>
                        <div class="entry-c">
                            <div class="entry-title">
                                <h2><a href="#">{{ work.nomWorkshop }}</a></h2>
                            </div>
                            <ul class="entry-meta clearfix">
                                <li><span class="label label-warning">Private</span></li>
                                <li><i class="icon-euro"></i> <strong>{{ work.type }}</strong></li>
                                <li><i class="icon-calendar3"></i>
                                    <strong>Date: </strong>{{ work.dateDebut | date("m/d/Y") }}</li>
                                <li><i class="icon-map-marker2"></i> <strong>Adresse: </strong>{{ work.adresse }}
                                </li>
                                <li><i class="icon-euro"></i> <strong>prix: </strong>{{ work.prix }}</li>
                                <li><i class="icon-male"></i> <strong>nombre de place: </strong>{{ work.nbPlace }}
                                </li>

                            </ul>

                            <div class="entry-content">
                                <p>{{ work.description }}</p>

                            </div>
                            <div class="entry-content">
                                <li><a href="{{ path('fos_user_security_login') }}"
                                       class="btn btn-default">Participer</a></li>
                            </div>
                            <div class="entry-title"><li><a href="{{ path('_DetailsWorkshop', {'id':work.id}) }}"
                                                            class="btn btn-default">Plus de Détails</a></li>
                            </div>
                </div>
            </div>
            {% endfor %}


            <div class="sidebar nobottommargin clearfix">
                <div class="sidebar-widgets-wrap">

                    <div class="widget clearfix">

                        <h4>Workshops les plus proches </h4>
                        <div id="post-list-header">
                            {% for work in w | sort %}
                            <div class="spost clearfix">
                                <div class="entry-image">
                                    <a href="#" class="nobg"><img
                                                src="{{ asset('Template/images/events/thumbs/1.jpg') }}" alt=""></a>
                                </div>
                                <div class="entry-c">
                                    <div>
                                        <ul class="entry-meta">
                                            <li>{{ work.nomWorkshop }}</li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                                </div>
                                {% endfor %}



                            </div>


                        </div>

                        <h4>Recent Event in Video</h4>
                        <div class="section nobottommargin">
                            <div class="container clear-bottommargin clearfix">

                                <div class="row topmargin-sm clearfix">


                                </div>
                            </div>

                        </div>

                        {% endblock %}
