{% extends "SUserBundle::layout.html.twig" %}


{% block title %}{% endblock %}
{% block stylesheets %}{% endblock %}


{% block body %}

    <section id="page-title" style="background-color:#ffc537">


        <div class="container clearfix" >
                <h1 align="center" style="color: #6016ff">Bienvenu(e) à la liste des Workshops </h1>
            <span style="color: #3e14ff"> hey! Vous pouvez <a href="{{ path('fos_user_security_login') }}" data-textAlign="center">ajouter votre workshop</a></span>

        </div>


    </section>






        <div >
        <div class="sidebar-widgets-wrap">

            <div class="widget clearfix">

                <h2 align="center" style="color: #110aff">Les 3 plus proches Workshops  </h2>
                <div id="post-list-header"  style="margin-left:237px">
                    {% for work in w| slice(0, 3) %}

                    <div class="spost clearfix">
                        <div class="entry-image">
                            <a href="{{ path('FiltreDQL') }}" ><img
                                        src="{{  asset('uploads/images/' ~ work.image) }}" alt=""></a>
                        </div>
                        <div class="entry-c">
                            <div>
                                <ul class="entry-meta">
                                    <li>{{ work.nomWorkshop }}</li>
                                </ul>
                            </div>

                        </div>
                    </div>

                {% endfor %}

                    <h2 align="center" style="color: #110aff">Les 3 Moins Chers Workshop  </h2>
                    <div id="post-list-header"  style="margin-left:285px">
                        {% for work in w| slice(0, 3) %}

                            <div class="spost clearfix">
                                <div class="entry-image">
                                    <a href="{{ path('FiltrePrix') }}" ><img
                                                src="{{  asset('uploads/images/' ~ work.image) }}" alt=""></a>
                                </div>
                                <div class="entry-c">
                                    <div>
                                        <ul class="entry-meta">
                                            <li>{{ work.nomWorkshop }}</li>
                                        </ul>
                                    </div>

                                </div>
                            </div>

                        {% endfor %}
                </div>





                <section id="content">

        <div class="content-wrap">

            <h3 style="color: #110aff" align="center"> Workshops à venir</h3>

            <div class="container clearfix" >



                {% for work in w | sort %}


                <div class="postcontent nobottommargin col_last" style="background-color:#fff2f9">

                    <div id="posts" class="events small-thumbs" style="background-color:#ffe2d6">

                        <div class="entry clearfix">
                            <div class="entry-image">
                                <a href="#">
                                    <img src="{{ asset('uploads/images/' ~ work.image) }}">
                                </a>
                            </div>
                            <div class="entry-c">
                                <div class="entry-title">
                                    <h2><a href="#">{{ work.nomWorkshop }}</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="icon-euro"></i> <strong>{{ work.type }}</strong></li>
                                    <li><i class="icon-calendar3"></i>
                                        <strong>Date: </strong>{{ work.dateDebut | date("m/d/Y") }}</li>
                                    <li><i class="icon-map-marker2"></i> <strong>Adresse: </strong>{{ work.adresse }}
                                    </li>
                                    <li><i class="icon-euro"></i> <strong>prix: </strong>{{ work.prix }}</li>
                                    <li><i class="icon-male"></i> <strong>nombre de place: </strong>{{ work.nbPlace }}
                                    </li>

                                </ul>

                                <div class="entry-content">
                                    <p>{{ work.description }}</p>

                                </div>
                                <div class="entry-content">
                                    <li><a href="{{ path('fos_user_security_login') }}"
                                           class="btn btn-default">Participer</a></li>
                                </div>
                                <div class="entry-title"><li><a href="{{ path('_DetailsWorkshop', {'id':work.id}) }}"
                                                                class="btn btn-default">Plus de Détails</a></li>
                                </div>
                            </div>
                        </div>
                        {% endfor %}



                    </div>

                            </div>


                        </div>

                                </div>


                            </div>



                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>

{% endblock %}