{% extends "StockBundle::layout.html.twig" %}
 {% block head %}<title>Ajouter un produit</title>

{% block stylesheets %}


    <link rel="stylesheet" href="{{ asset('Template/css/components/ion.rangeslider.css" type="text/css') }}"/>
    <link rel="stylesheet" href="{{ asset('Template/css/components/ion.rangeslider.css" type="text/css') }}" />

    <link rel="stylesheet" href="{{ asset('Template/css/responsive.css') }}" type="text/css" />


{% endblock %}
 {% endblock %}
    {% block body %}
        <section id="page-title">

            <div class="container clearfix">
                <h1>Ajouter un produit</h1>
                <span>Créez votre boutique en ajoutant des produits</span>

            </div>

        </section><!-- #page-title end -->
        <section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                    <!-- Shop
                    ============================================= -->

                    {{ form_start(form) }}
                    {#{ form_widget(form) }#}
                    <!--div class="line line-sm"></div>
                    <div-- class="center">
                        <input type="submit" value="Ajouter" class="button button-3d button-black nomargin"/>
                    </div-->
                    {{ form_end(form) }}


                </div>
            </div>
        </section>

    {% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('Template/js/components/rangeslider.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('Template/js/components/moment.js')}}"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $(".range_01").ionRangeSlider();

            $(".range_02").ionRangeSlider({
                min: 0,
                max: 100,
                from: 00
            });




        });
    </script>
{% endblock %}